$nameBarBgImg: '/img/NamebarBg.jpg';

#fullScreenButton{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    position: relative;
    // padding: 10px;
    line-height: 13px;
    margin: 0;
    height: 30px;
  }

  #liveLocation{
    text-align: center;
  }
  
  #namebarStyle{
    background: radial-gradient(circle at top, black , red); // Use the imported image
    background-size: cover; // Adjust as needed
    background-repeat: no-repeat; // Adjust as needed
    color: white;
    height: 30px;
  }
  
  .glyphicon{
    background-color: white;
  }