@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-fetching {
  position: relative;
  display: flex;
  align-items: center;

  .spinner {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s linear infinite;
  }
}

.item-value {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.user-side-detail {
  background-color: "#495057e6";
}

p.pTag {
  color: red;
  font-size: 15px;
}

p.pTagBlack {
  color: rgb(22, 22, 22);
  font-size: 15px;
}
