$myColor: red;
$onColor:rgb(52, 255, 52);
$offColor:rgb(255, 71, 71);
$borderColor: rgba(128, 128, 128, 0.3);
$fontColor: rgba(128, 128, 128);
$backgroundImg: '/img/login.png';

.react-datepicker-popper {
  z-index: 9999 !important;
 
}

/* Add this style to your CSS file or style block */
.datepicker-wrapper {
  font-size: 16px; /* Adjust the font size based on your preference */
}

.dateDiv {
  width: 200px; /* Adjust the width based on your preference */
  height: 38px; /* Adjust the height based on your preference */
  font-size: 16px; /* Adjust the font size based on your preference */
  border: 1px solid  $borderColor; /* Change the border color as needed */
  border-radius: 1px; /* Optional: Add border-radius for rounded corners */
  color: $fontColor;
}


#loginBg , #registerBg {
  background-image: url('#{$backgroundImg}'); 
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
}

.card {
  position: relative;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.user-avatarOnline {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid $onColor; /* You can change the border color here */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
}

.user-avatarOffline {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid $offColor; /* You can change the border color here */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-div-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marker-text {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

#fullScreenButton{
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  position: relative;
  padding: 10px;
  line-height: 13px;
  margin: 0;
  height: 40px;
}
